.image {
  width: 50%;
  float: left;
  padding: 20px;
}
.main-page-container {
  height: 90vh;
  width: 100vw;
  max-width: 100vw !important;
  background-color: black;
  background-image: url("../assets/background-mainpage.jpg");
}
.title-mainpage {
  font-size: 15vw;
  width: 50%;
  float: right;
  padding: 20px;
}

.main-page-title {
  color: white;
  font-family: "Pixelify Sans", cursive;
}
.click-button {
  color: black;
}
.icon {
  size: 30px !important;
}
