.image {
  width: 50%;
  float: left;
  padding: 20px;
}
.game-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.title-mainpage {
  font-size: 15vw;
  width: 50%;
  float: right;
  padding: 20px;
}
.TenziesContanier {
  height: 100vh;
  width: 100vw;
}
.TenziesContent {
  font-size: 2vw;
  float: left;
  background-color: bisque;
}
.TenziesImage {
  float: right;
}
/* .tenzies-title {
  font-size: 90px;
} */
