@import "../src/styles/Memes.css";
@import "../src/styles/Monster.css";
@import "../src/styles/Hangman.css";
@import "../src/styles/MainPage.css";
* {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
